extends layout

block content
  div.row
    div.col-sm
      h1= title
      p A basic calculator.
  // Top row
  div(id='out') 0
  // 5th row
  div(class='btn-calc btn-func noselect' id='btnClear') AC
  div(class='btn-calc btn-func noselect' id='btnPolarity') +/-
  div(class='btn-calc btn-func noselect' id='btnPercent') %
  div(class='btn-calc btn-op noselect' id='btnDivide') /
  br
  // 4th row
  div(class='btn-calc btn-num noselect' id='btnSeven') 7
  div(class='btn-calc btn-num noselect' id='btnEight') 8
  div(class='btn-calc btn-num noselect' id='btnNine') 9
  div(class='btn-calc btn-op noselect' id='btnMulti') X
  br
  // 3rd row
  div(class='btn-calc btn-num noselect' id='btnFour') 4
  div(class='btn-calc btn-num noselect' id='btnFive') 5
  div(class='btn-calc btn-num noselect' id='btnSix') 6
  div(class='btn-calc btn-op noselect' id='btnMinus') -
  br
  // 2nd row
  div(class='btn-calc btn-num noselect' id='btnOne') 1
  div(class='btn-calc btn-num noselect' id='btnTwo') 2
  div(class='btn-calc btn-num noselect' id='btnThree') 3
  div(class='btn-calc btn-op noselect' id='btnPlus') +
  br
  // Bottom row
  div(class='btn-calc btn-zero noselect' id='btnZero') 0
  div(class='btn-calc btn-num noselect' id='btnDec') .
  div(class='btn-calc btn-op noselect' id='btnEquals') =
  br
