
#out {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid black;
  height: 60px;
  width: 240px;

  font-size: xx-large;
}
/*<https://stackoverflow.com/a/9314458>*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* https://stackoverflow.com/a/5703632 */
.btn-calc {
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  height: 60px;
  width: 60px;

  font-size: xx-large;
}
.btn-calc:hover {opacity: 0.8}
.btn-calc:active {opacity: 0.6}
.btn-zero {
  background-color: gray;
  width: 120px;
}
.btn-func {
  background-color: lightgray;
}
.btn-op {
  background-color: orange;
}
.btn-num {
  background-color: gray;
}
